# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (IMPORTANT for ML projects)
*.pt
*.pth
*.h5
*.onnx

# Dataset (optional - if large)
dataset/

# Temporary files
*.tmp